server:
  port: 8040
spring:
  application:
    name: microservice-gateway-zuul
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
management:
  security:
    enabled: false
zuul:
  routes:
    microservice-consumer-movie: /consumer-movie/**
#    provider-usersï¼š/provider-user/**